- unless current_user.nil?
  %ul#dropdown_user.dropdown-content
    %li
      - if current_user.location.present?
        = link_to 'Editar Ubicación', edit_location_path(current_user.location)
      - else
        = link_to 'Registrar Ubicación', new_location_path
    %li
      = link_to 'Editar Perfil', edit_user_registration_path
    %li.divider
    %li
      = link_to 'Cerrar sesión', destroy_user_session_path, method: :delete
%nav
  .nav-wrapper
    %a.brand-logo{:href => "/"}
      %img{src: image_url('logo_white.png')}
    %a.button-collapse{"data-activates" => "mobile-demo", :href => "#"}
      %i.material-icons menu
    %ul.right.hide-on-med-and-down
      %li
        %a{:href => "#"} Inicio
      %li
        %a{:href => "#"} Pronóstico
      - unless current_user.nil?
        %li
          %a.dropdown-button{"data-activates" => "dropdown_user", :href => "#!"}
            - unless current_user.name.nil?
              = current_user.name
            - else
              = current_user.email
            %i.material-icons.right
              arrow_drop_down
    %ul#mobile-demo.side-nav
      %li
        %a{:href => home_index_path} Inicio
      %li
        %a{:href => "#"} Reportes
      %li
        %a{:href => locations_path} Administrar ubicaciones
      %li
        = link_to 'Cerrar sesión', destroy_user_session_path, method: :delete
